    @media(max-width:425px) {
        header {
            flex-direction: column;
        }
        .nav_links {
            display: flex;
        }
        .nav_links li {
            flex-wrap: wrap;
        }
        button {
            display: flex;
            flex-direction: column;
            margin-top: 15px;
        }
        .articulo {
            display: flex;
            flex-direction: column;
        }
        .video {
            padding-left: 0%;
        }
        .footer {
            display: flex;
            justify-content: space-between;
        }
        .logo {
            width: 25%;
        }
        .container {
            display: inline;
        }
        .img1 {
            width: 100%;
            display: flex;
            margin: auto;
        }
        .img1 img {
            width: 70vw;
            margin: auto;
        }
        .imagen-uno {
            width: 100%;
            display: flex;
            margin: auto;
        }
        .imagen-uno img {
            width: 70vw;
            margin: auto;
        }
        .img2 {
            width: 100%;
            display: flex;
            margin: auto;
        }
        .img2 img {
            width: 70vw;
            margin: auto;
        }
        .img3 {
            width: 100%;
            display: flex;
            margin: auto;
        }
        .img3 img {
            width: 70vw;
            margin: auto;
        }
    }