.titulo__articulo {
    display: flex;
    justify-content: center;
    color: #edf0f1;
    padding: 20px;
}

.titulo_dos {
    color: brown;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.titulo_tres {
    color: burlywood;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.titulo_cuatro {
    color: aqua;
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 20px;
}

.titulo_cinco {
    color: chartreuse;
    font-size: 20px;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.subtitulo__articulo {
    display: flex;
    justify-content: center;
    color: #edf0f1;
    padding: 20px;
}